<IfModule mod_rewrite.c>

  Options -Indexes

  Options -Multiviews

  RewriteEngine On

  RewriteBase /badal/public

  # استثناء مجلد payfort10
  RewriteCond %{REQUEST_URI} ^/payfort10/ [OR]
  RewriteCond %{REQUEST_URI} ^/badal/public/payfort10/
  RewriteRule ^ - [L]

  RewriteCond %{REQUEST_FILENAME} !-d

  RewriteCond %{REQUEST_FILENAME} !-f

  RewriteRule  ^(.+)$ index.php?url=$1 [QSA,L]

</IfModule>